## Nassau County Housing Cost Predictions - Regression Models
This part aims to analyze Nassau County housing costs using Zillow data (scraped by Apify). The dataset has been initially cleaned, as null values have been handled. All initial null values (except tax assessed values for each home) have been handled accordingly in initial_cleaning.py. All data was provided by Apify's Zillow scraper.

### 1. Setup
In analysis1.ipynb, we already conducted EDA and additional preprocessing (ordinal encoding, OLS for null tax assessed values)

In [7]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
connection = sqlite3.connect('zillow_data.db')
df = pd.read_sql_query("SELECT * FROM 'preprocessed listings'", connection)
df.head()

,index,address,addressCity,addressZipcode,bedrooms,bathrooms,area,daysOnZillow,price,lotAreaValue,lotAreaUnit,taxAssessedValue,latitude,longitude
0,0,"4 Aron Drive, Woodbury, NY 11797",77.0,11797,5,5.0,4000.0,12,2699999,0.460009,0.0,912000.0,40.825302,-73.476944
1,1,"2607 Falcon Street, East Meadow, NY 11554",14.0,11554,4,2.0,1260.0,6,750000,7200.000000,1.0,519000.0,40.711006,-73.538830
2,2,"17 Pinetree Drive, Farmingdale, NY 11735",19.0,11735,3,3.0,1540.0,4,629000,7140.000000,1.0,441000.0,40.719440,-73.466995
3,3,"35 Bayview Avenue, Port Washington, NY 11050",59.0,11050,4,2.0,2164.0,5,1225000,5650.000000,1.0,705000.0,40.826836,-73.697530
4,4,"138 Mount Joy Avenue, Freeport, NY 11520",22.0,11520,3,4.0,1638.0,13,588786,6250.000000,1.0,406000.0,40.670380,-73.593330

### 2. Model Development (With `taxAssessedValue`)

Remove the 'index' column entirely. All columns except the address will be used as our features (taxAssessedValue included for now), and our label is the listing price.

In [9]:
df = df.drop(['index'], axis=1)
features = df.drop(['price', 'address'], axis=1)
label = df['price']